/* CSS Stylesheet for choice page */

body {
  background-color: rgb(226, 248, 245);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  text-align: center;
  letter-spacing: 5px;
}
h2 {
  text-align:center;
}

  .container{    
    height: 300px;
    width: 800px;
    background-color: rgb(170, 235, 228);
    position: relative;
    margin: auto;
    margin-top: 200px;
    border-color: grey;
    border-style: solid ;
    border-radius: 20px;
    border-width: 5px;
   
  }


.buttonclass {
  padding: 30px;
  text-align: center;
  font-size: 20px;
  width: 150px;
  height: 80px;
  cursor: pointer;
  border-style: solid;
  border-radius: 7px;
  font-weight: bold;
  transition-duration: 0.5s;
}
.buttonclass:hover {
  font-size: 30px;
  cursor: pointer;
  color:white;
  background-color: grey;
  width:190px;
  height: 100px;
  letter-spacing: 4px;
  

}

#btn {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:80px;
}

